:root {
    --ar: rgb(247, 158, 2);
    --bk: rgb(7, 11, 13);
    --wh: rgb(240, 240, 242);
    --gr: rgb(217, 217, 217);
    --grs: rgb(140, 139, 136);
    --grss: rgb(64, 64, 64);
}
.bg-grss{
    background-color: rgba(64,64,64,0.9);
}
body {
    padding-top: 100px;
    background-color: rgb(247, 243, 243);
}
.showingAlert{
   transform: translateY(58px);
}
.feedbackMessage{
    position: absolute;
    top: -58px;
    left: 0px;
    width: 100%;
    border-radius: 0px;
}
h1{
    font-family: "Montserrat", sans-serif;
}
h2 ,h3, h4, h5, .h2, .h3, .h4, .h5, p, label{
    font-family: "Merriweather", serif;
}
li{
    list-style-type: none;
}
.coderillaNav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1032;
}
#chevronGoDown{
    position: absolute;
    left: 50%;
    bottom:5%;
    margin-left:-16px;
}
.bg-cnt {
    background-image:linear-gradient(var(--gr)15%, transparent, var(--grs)), url(/public/img/sfondo4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    height: 100vh;
   margin-top: -100px;
    position: relative;
}
.bg-cnt h1{
    letter-spacing: 12px;
}
/* CARD */
.wrapper {
    width: 300px;
    height: 380px;
    background: white;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
}
.wrapper:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px var(--grs, 0.2);
}
.container {
    width: 100%;
    height: 100%;
}
.top {
    height: 80%;
    width: 100%;
    /* background: url("https://picsum.photos/200/300"); */
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.bottom {
    width: 100%;
    height: 20%;
    transition: transform 0.5s;
}
/* .details-cnt {
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    background-color: var(--gr);
} */
.details-cnt {
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    /* background-color: var(--gr); */
    height: 100%; /* Aggiunta della regola per l'altezza */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.show-detail {
    border-left: solid thin var(--ar, 0.8);
    transition: 0.5s;
    cursor: pointer;
}
.show-detail i {
    color: rgb(0, 153, 255);
}
.inside {
    z-index: 9;
    background: var(--ar);
    width: 140px;
    height: 140px;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 0px 0px 200px 200px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
    opacity: 82%;
    text-align: center;
}
.icon {
    position: absolute;
    right: 85px;
    top: 85px;
    color: var(--gr);
    opacity: 1;
}
.inside:hover {
    width: 100%;
    right: 0;
    top: 0;
    border-radius: 0;
    height: 65%;
}
.inside:hover .icon {
    opacity: 0;
    right: 15px;
    top: 15px;
}
.inside:hover .contents {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
}
.contents {
    padding: 5%;
    opacity: 0;
    transform: scale(0.5);
    transform: translateY(-200%);
    transition: opacity 0.2s, transform 0.8s;
    font-size: 10px;
}
/* END CARD */

.img-preview{
    height: 50vh;
}

/* BUBBLY BUTTON */
.bubbly-button {
    display: inline-block;
    font-size: 1em;
    padding: 0.5em 1em;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--ar);
    color: var(--wh);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    /* box-shadow: 0 2px 25px rgba(247, 158, 2, 0.5); */
}
.bubbly-button:focus {
    outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}
.bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, var(--ar) 20%, transparent 20%), radial-gradient(circle, transparent 20%, var(--ar) 20%, transparent 30%), radial-gradient(circle, var(--ar) 20%, transparent 20%), radial-gradient(circle, var(--ar) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--ar) 15%, transparent 20%), radial-gradient(circle, var(--ar) 20%, transparent 20%), radial-gradient(circle, var(--ar) 20%, transparent 20%), radial-gradient(circle, var(--ar) 20%, transparent 20%), radial-gradient(circle, var(--ar) 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, var(--ar) 20%, transparent 20%), radial-gradient(circle, var(--ar) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--ar) 15%, transparent 20%), radial-gradient(circle, var(--ar) 20%, transparent 20%), radial-gradient(circle, var(--ar) 20%, transparent 20%), radial-gradient(circle, var(--ar) 20%, transparent 20%), radial-gradient(circle, var(--ar) 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
    transform: scale(0.9);
    background-color: var(--ar);
    box-shadow: 0 2px 25px rgba(247, 158, 2, 0.2);
}
.bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}
@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
   }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
   }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
   }
}
@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
   }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
   }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
   }
}

/* END BUBBLY BUTTON */

/* SEARCH BAR */
.search-form {
    position: relative;
    width: 30rem;
    background: var(--wh);
    border-radius: .7rem;
}
#search, .search-button {
    height: 3rem;
    border: 0;
    color: var(--grss);
    font-size: 1rem;
}
#search[type="search"] {
    outline: 0;
    width: 100%;
    background: var(--wh);
    padding: 0 1.6rem;
    border-radius: 0.7rem;
    appearance: none;
    transition: all .3s cubic-bezier(0, 0, 0.43, 1.49);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}
#search:active{
    color: black;
}
.search-button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 6rem;
    font-weight: bold;
    background: var(--ar);
    border-radius: 0 0.7rem 0.7rem 0;
}
#search:not(:placeholder-shown) {
    border-radius: 0.7rem 0 0 0.7rem;
    width: calc(100% - 6rem);
}
#search:not(:placeholder-shown) + .search-button {
    display: block;
}

@media screen and (max-width: 600px) {
    .search-form {
        width: 15rem;
    }
    .search-cnt{
        position: relative;
        /* top: 150px; */
        left: -30px;
    }
    .feedbackMessage{
        top: -81px;
    }
    .showingAlert{
        transform: translateY(81px);
    }
}

/* END SEARCH BAR */

.revisor-img{
    width: 50%;
    margin-top: -7%;
}

@media screen and (max-width:600px){
    .revisor-img{
        width: 100%;
        margin-top: -7%;
    }
}